@model Health_Insurance_Management.Models.Policy

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Admin/Layout/_Layout.cshtml";
}

<div class="content">
    <h4>Employee: @Html.DisplayNameFor(model => model.PolicyName)</h4>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <p class="lead">Are you sure you want to delete this?</p>

            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th> @Html.DisplayNameFor(model => model.Company.CompanyName):</th>
                        <td> @Html.DisplayNameFor(model => model.Company.CompanyName)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.PolicyName):</th>
                        <td>@Html.DisplayFor(model => model.PolicyName)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.PolicyDescription):</th>
                        <td>@Html.DisplayFor(model => model.PolicyDescription)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Amount):</th>
                        <td>@Html.DisplayFor(model => model.Amount)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Emi):</th>
                        <td>@Html.DisplayFor(model => model.Emi)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.MedicalId):</th>
                        <td>@Html.DisplayFor(model => model.MedicalId)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Status):</th>
                        <td>@Html.DisplayFor(model => model.Status)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.CreatedDate):</th>
                        <td>@Html.DisplayFor(model => model.CreatedDate)</td>
                    </tr>
                </table>
            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('All Employee and EmployeePolicy of Policy will be deleted !')"/> |
                    @Html.ActionLink("Back to List", "Index")
                </div>
            }
        </div>
    </div>
</div>
