@model Health_Insurance_Management.Models.HospitalInfo

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Admin/Layout/_Layout.cshtml";
}

<div class="content">
    <h4>Hospital: @Html.DisplayNameFor(model => model.HospitalName)</h4>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <p class="lead">Are you sure you want to delete this?</p>

            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.HospitalName):</th>
                        <td>@Html.DisplayFor(model => model.HospitalName)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.HospitalAddress):</th>
                        <td>@Html.DisplayFor(model => model.HospitalAddress)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.HospitalPhone):</th>
                        <td>@Html.DisplayFor(model => model.HospitalPhone)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.HospitalURL):</th>
                        <td>@Html.DisplayFor(model => model.HospitalURL)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Status):</th>
                        <td>@Html.DisplayFor(model => model.Status)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.CreatedDate):</th>
                        <td>@Html.DisplayFor(model => model.CreatedDate)</td>
                    </tr>
                </table>
            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('All information of hospital will be deleted !')" /> |
                    @Html.ActionLink("Back to List", "Index")
                </div>
            }
        </div>
    </div>
</div>

